{% extends "base.html" %}
{% block content %}
<div id="players" class="section active main-center">
    <h2>Players</h2>
    <table class="players-table">
        <tr><th>ID</th><th>Name</th><th>Team</th><th>Type</th><th>batting role</th><th>bowling role</th></tr>
        {% for player in players %}
        <tr>
            <td>{{ player.player_id }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.team.name }}</td>
            <td>{{player.get_player_type_display}}</td>
            <td>{{ player.get_batting_role_display }}</td>
            <td>{{ player.get_bowling_role_display }}</td>
            <td><a href=" {% url "delete_player" player.player_id %}">❌</a></td>
            <td><a href=" {% url "update_player" player.player_id %}">✍️</a></td>
            
        </tr>
        {% endfor %}
    </table>

   
</div>

{% endblock content %}

